.DS_Store
Podfile.lock
Pods/Manifest.lock
Pods
Gofferwall-iOS-Sample.xcodeproj/project.xcworkspace/xcuserdata/tnk.xcuserdatad
Gofferwall-iOS-Sample.xcodeproj/xcuserdata/tnk.xcuserdatad
Gofferwall-iOS-Sample.xcworkspace/xcuserdata/tnk.xcuserdatad
